* {box-sizing: border-box;}
body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
label{
   font-size: 15px;
}
input[type=text],textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
}


input[type=submit]:hover {
   background-color: #45a049;
}
form {
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);
    width: 1000px;
    margin: 50px auto;
    padding: 100px 150px;
    box-shadow: 10px 15px rgba(63, 66, 60, 0.5);
}
button{
    border-radius: 10px;
    width: 100px;
    height: 35px;
    
}
a{
    text-align: center;
    text-decoration: none;
}